.App{
  height: 100vh;
  padding-bottom: 6px;
  background-color: #1b1b32;
  font-family: Lato,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pc-logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pc-logo{
  height: 65px;
}


.contenedor-calculadora{
  width: 400px;
  height: 550px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}